@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-start-rgb))) rgb(var(--background-end-rgb))
}

/* Estilos para ocultar la barra de desplazamiento */



.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE y Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari y Opera */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.btn-primary {
  @apply bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded transition-all;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}

.btn-danger {
  @apply bg-red-500 hover:bg-red-700 text-white py-2 px-4 transition-all;
}

.btn-dark {
  @apply bg-gray-800 hover:bg-gray-500 text-white py-2 px-4 transition-all;
}



/* Para ocultar las barras de desplazamiento en Webkit (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Para ocultar las barras de desplazamiento en Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* Colores */
.color-principal {
  @apply text-[#a13f26]
}

.color-principal:hover {
  @apply text-[#816239]
}

.color-secundario {
  @apply text-[#640D5F]
}

.color-titulos-principales {
  @apply text-[#942f67]
}

.color-logos {
  @apply text-[#4a4e69]
}

/* Color de fondo de la barra de navegación principal */
.color-fondo-principal {
  @apply bg-[#f8edeb]
}

.color-iconos {
  @apply text-[#2b2d42]
}

.color-iconos:hover {
  @apply text-[#A0153E]
}

.numeros-iconos {
  @apply bg-white text-[#a13f26]
}

.numeros-iconos-inferior {
  @apply bg-[#f07167] text-[#f2f2f2]
}

.links {
  @apply text-[#b32525]
}

.links:hover {
  @apply text-[#755047]
}

.color-titulos {
  @apply text-[#D91656]
}

/* Tarjeta de productos - ProductCard */
.color-titulos-ProductCard {
  @apply text-[#244]
}

.fondo-tarjeta {
  @apply text-white
}

.color-titulo-tarjeta {
  @apply text-[#D91656]
}

.color-descripcion-tarjeta {
  @apply text-[#31363F]
}

.color-boton-agregar {
  @apply bg-[#be95c4]
}

.color-boton-agregar:hover {
  @apply bg-[#ffcad4]
}

.texto-boton {
  @apply text-white
}

.color-titulo-carrusel {
  @apply text-[#FFCCEA] group-hover:text-[#FFD700]
}

.color-titulo-carrusel:hover {
  @apply group-hover:text-[#FFD700]
}

.color-texto-carrusel {
  @apply text-[#FBFBFB]
}

.color-texto-carrusel:hover {
  @apply group-hover:text-[#FFFACD]
}